snippet /***
	/***
	 * @file $TM_FILENAME
	 * @author Aleš Pečnik (ales.pecnik@skylabs.si)
	 * @brief 
	 * @version 1.0
	 * @date $CURRENT_YEAR-$CURRENT_MONTH-$CURRENT_DATE
	 *
	 * @copyright Skylabs d.o.o.(c) 2025, All rights reserved.
	 *
	 */
