snippet /***
	/***
	 * @file $TM_FILENAME
	 * @author Aleš Pečnik (ales.pecnik@airwireless.eu)
	 * @brief 
	 * @version 1.0
	 * @date $CURRENT_YEAR-$CURRENT_MONTH-$CURRENT_DATE
	 *
	 * @copyright Globtel HOLDING d.o.o.(c) 2024, All rights reserved.
	 *
	 */
